<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <!-- <div class="modal">
         <button class="rediect_back" href="http://localhost:8000/">⬅</button> -->
        <!-- <h2 class="modal_header">Log in to your Account</h2>
        <form class="modal_form" action="/sign-in/user" method="post">
            <label>Email</label>
            <input type="text" name="email" placeholder="enter email" required>
            <label>Password</label>
            <input type="text" name="password" placeholder="enter password" required>
            <button class="btn">Submit</button>

        </form>
    </div> --> 
    <nav>
        <p class="welcome">Log in to your Account</p>
        <img src="/img/logo.png" alt="Logo" class="logo" />
        <form class="login" action="/sign-in/user" method="post">
          <input
            type="text" name="email"
            placeholder="enter email"
            class="login__input login__input--user"
          />
          
          <input
            type="text" name="password"
            placeholder="enter password"
            class="login__input login__input--pin"
          />
          <input type="submit" class="login-btn" value="➡">
        </form>
      </nav>
</body>
</html>